* {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;
  line-height: 1.5;
}

html {
  font-size: 1.3em;
  scroll-behavior: smooth;
}

body {
  color: #dcdfe4;
  background-color: #282c34;
  margin: auto;
  max-width: 75%;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  color:rgb(215, 215, 215);
  padding: 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #4e5461;
  border-radius: 10px;
}

.research {
  color:rgb(215, 215, 215);
  font-size: .75em;
  padding: 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #363b44;
  border-radius: 10px;
}

.tl {
    color: aquamarine
}

.project {
  color:rgb(215, 215, 215);
  font-size: .75em;
  padding: 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #30335b;
  border-radius: 10px;
}

.community {
  color:rgb(215, 215, 215);
  font-size: .75em;
  padding: 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #303f33;
  border-radius: 10px;
}

.flex {
  display: flex;
}

.image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon {
}

.button {
  transition-duration: 0.4s;
  color:rgb(215, 215, 215);
  background-color: #64677f;
  padding: 10px 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
  margin: 5px 2px;
}

.container{
  margin: 10px;
  padding-left: 20px;
  font-size: 1em;
}

.blogpost {
  color:rgb(215, 215, 215);
  font-size: .75em;
  padding: 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #363b44;
  border-radius: 10px;
}

.button:hover {
  background-color: DeepSkyBlue;
  color: white;a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
}

footer {
  margin-top: 50px;
  margin-bottom: 30px;
}

nav {
  display: contents;
}

nav > a {
  text-decoration: none; 
  color: #dcdfe4;
}

nav > a:hover {
  color: DarkTurquoise;
}

hr {
  margin: 15px 0 15px 0;
}

ul {
  list-style-position: inside;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
  header {
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}
